<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9PMKLS0SKR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9PMKLS0SKR');
</script>

<!-- Primary Meta Tags -->
<title>Home | Mateusz Lewicki Blog</title>
<meta name="title" content="Home | Mateusz Lewicki Blog">
<meta name="description" content="Miejsce do dzielenia się moją wiedzą, ciekawostkami i przemyśleniami na temat świata administracji IT i innych devoposów">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://mateuszlewicki.pl/">
<meta property="og:title" content="Home | Mateusz Lewicki Blog">
<meta property="og:description" content="Miejsce do dzielenia się moją wiedzą, ciekawostkami i przemyśleniami na temat świata administracji IT i innych devoposów">
<meta property="og:image" content="">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://mateuszlewicki.pl/">
<meta property="twitter:title" content="Home | Mateusz Lewicki Blog">
<meta property="twitter:description" content="Miejsce do dzielenia się moją wiedzą, ciekawostkami i przemyśleniami na temat świata administracji IT i innych devoposów">
<meta property="twitter:image" content="">